.imageBox {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}
.main {
  margin-top: 200px;
}
.gamingSubsec {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  margin: 12px;
}
.gamingSubsec h4 {
  padding: 20px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchContainer {
  width: 100%;
  left: 0px;
  z-index: 100;
  position: fixed;
  background-color: #1e77c1;
}
.searchContainer form {
  position: relative;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 35px;
  border-radius: 12px;
}
.searchContainer form input {
  width: 100%;
  max-width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
}
.searchContainer form input::placeholder {
  color: #fff;
  font-size: 25px;
}
.searchContainer form button {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  right: 25px;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}

.loadMore {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 50px 0;
  color: #fff;
  font-size: 18px;
}
.loadMore:hover {
  color: #1e77c1;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .gamingSubsec h4 {
    padding: 14px;
    font-size: 18px;
  }
  .searchContainer form input::placeholder {
    color: #fff;
    font-size: 21px;
  }
  .searchContainer form button {
    font-size: 18px;
  }
  .searchContainer form {
    padding: 20px;
  }
  p.requesting {
    margin: 10px 40px;
    color: #fff;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .loadMore {
    padding: 13px 25px;
    font-size: 16px;
  }
}
